@{
    ViewData["Title"] = "Home Page";
}
<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>A collection of films rated and reviewed by Joel Hilton</p>
	<img src="~/images/joelhilton.jpg" height="500" />
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <br />
    <a asp-controller="Home" asp-action="MovieForm">Fill out a form to enter a movie into my collection!</a>
    <br />
    <a asp-controller="Home" asp-action="GetToKnowJoel">Get to Know Joel</a>
</div>
