@{
    ViewData["Title"] = "Home Page";
}
<h1>The Hoel Hilton Film Collection</h1>

<div>
    <p>A collection of films rated and reviewed by Joel Hilton</p>
	<img src="~/images/joelhilton.jpg" height="500" />
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="FillOutForm">Fill out a form to enter a movie into my collection!</a>
    <br />
    <a>Watch me perform at Quick Wits Comedy</a>
    <br />
    <a>Baconsale Site</a>
</div>
